{% extends 'base.html.twig' %}

{% block title %}Edit PropertyManagementSystem{% endblock %}

{% block body %}
    <h1>Edit PropertyManagementSystem</h1>

    {{ include('property_management_system/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('property_management_system_index') }}"><button class="btn">back to list</button></a>

    {{ include('property_management_system/_delete_form.html.twig') }}
{% endblock %}
