{% extends 'base.html.twig' %}

{% block title %}New PropertyManagementSystem{% endblock %}

{% block body %}
    <h1>Add a new PMS</h1>

    {{ include('property_management_system/_form.html.twig') }}

    <a href="{{ path('property_management_system_index') }}"><button class="btn">Back to list</button></a>
{% endblock %}
