{% if extras is not empty %}
<table style="text-align: center; padding: 5px">
    <tr>
        <th>Service</th>
        <th style="padding: 5px">Start date</th>
        <th style="padding: 5px">End date</th>
        <th style="padding: 5px">Consumed days</th>
        <th style="padding: 5px">Quantity</th>
        <th style="padding: 5px">Unit price</th>
        <th style="padding: 5px">Total price</th>
    </tr>
    <tr>
        {% set total_extra = 0 %}
        {% set extra_amount = 0 %}
        {% for extra in extras %}
        <td style="padding: 5px">
            {{ extra.extra.label }}
        </td>
        <td>
            {{ extra.startDate|date('d/m/Y') }}
            {% set start_date = extra.startDate|date('Y-m-d') %}
        </td>
        <td>
            {{ extra.endDate|date('d/m/Y') }}
            {% set end_date = extra.endDate|date('Y-m-d') %}
        </td>
        <td>
            {% set difference = date(end_date).diff(date(start_date)) %}
            {% set days = difference.days + 1 %}
            {{ days }}
        </td>
        <td>
            {{ extra.quantity }}
            {% set extra_amount = extra.price * extra.quantity * days %}
        </td>
        <td>
            {{ property.currency.symbol }}{{ extra.price }}
        </td>
        <td>
            {{ property.currency.symbol }}{{ extra_amount }}
            {% set total_extra = total_extra + extra_amount %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th style="padding: 5px"><strong>Total</strong></th>
        <th colspan="5"></th>
        <th><strong>{{ property.currency.symbol }}{{ total_extra }}</strong></th>
    </tr>
</table>
{% else %}{% endif %}

