{% form_theme enquiryForm 'form/form_theme_enquiry.html.twig' %}
{% if enquiry.id is null %}
    {{ form_start(enquiryForm, {'action': path('enquiry_new'), 'method': 'POST'}) }}
{% else %}
    {% set button_label = 'Save changes' %}
    {{ form_start(enquiryForm, {'action': path('enquiry_edit', {'id': enquiry.id}), 'method': 'POST'}) }}
{% endif %}
<div class="row" style="display: flex">
    <div class="col s4" style="flex: 1">
        <h5>Reservation info</h5><br />
        {{ form_row(enquiryForm.status) }}
        {% if enquiry.status.cancelType == true %}
            {{ form_row(enquiryForm.cancelReason) }}
        {% else %}
            {% do enquiryForm.cancelReason.setRendered() %}
        {% endif %}
        {{ form_row(enquiryForm.check_in_date) }}
        {{ form_row(enquiryForm.check_out_date) }}
        {{ form_row(enquiryForm.number_of_persons) }}
        {{ form_row(enquiryForm.age) }}
        <div class="input-field">
            <label>Profile info *</label>
            <div class="materialize-textarea" style="height:45px">
                <a class="btn modal-trigger" style="float: right" id="info-button" href="#modal-profile">edit</a>
            </div>
            <hr>
        </div>
        {% include 'enquiry/_profile_info_modal.html.twig' %}
        {{ form_row(enquiryForm.company) }}
    </div>
    <div class="col s4" style="flex: 1">
        <h5>Offer info</h5><br />
        {{ form_row(enquiryForm.ratetype) }}
        {{ form_row(enquiryForm.rate_display) }}
        {{ form_row(enquiryForm.emptyBedsCharged) }}
        {{ form_row(enquiryForm.language) }}
        {{ form_row(enquiryForm.templateCondition) }}
        {{ form_row(enquiryForm.customConditions) }}
        {{ form_row(enquiryForm.templateProposal) }}
    </div>
    <div class="col s4" style="flex: 1; position: relative">
        <h5>Comments / Distribution</h5><br />
        {{ form_row(enquiryForm.client_comment) }}
        {{ form_row(enquiryForm.hotel_comment) }}
        <div class="input-field" style="height:40px">
            <label>Distribution Preferences</label>
            <div class="materialize-textarea">
                <a class="btn modal-trigger" style="float: right" id="info-button" href="#modal-breakdown">edit</a>
                {% include 'enquiry/_breakdown_modal.html.twig' %}
            </div>
        </div>
        <div class="row" style="margin-left: 20px">
            {% for breakdown in enquiry.breakdownEnquiries %}
                {% if breakdown.persons is not null %}
                    {{ breakdown.breakdownPref.label }}: {{ breakdown.persons }} persons<br/>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <div class="col s12" style="text-align: right; position:absolute; bottom:0">
            <button class="btn" id="validate-btn">{{ button_label|default('Create Enquiry') }}</button>
        </div>
        {{ form_end(enquiryForm) }}
    </div>
</div>
