<div id="modal-send-pms" class="modal modal-fixed-footer">
    <div class="modal-content">
        <p>General occupancy last time offer was updated: <strong>{{ enquiry.offer.occupancy|number_format(2) }}%</strong></p>
        <p>Current general occupancy: <strong>{{ occupancy_general|number_format(2) }}%</strong></p>
        {% set occupancy_change = occupancy_general - enquiry.offer.occupancy %}
        <p>Occupancy trend:
            {% if occupancy_change >= 20 %}
                <i class="material-icons red lighten-1">trending_up</i> <strong>{{ occupancy_change|number_format(2) }}%</strong><br/>
                <span style="margin-left: 15px">We strongly recommend to double-check occupancy</span>
            {% elseif occupancy_change >= 5 and occupancy_change < 20 %}
                <i class="material-icons orange lighten-1">trending_up</i> <strong>{{ occupancy_change|number_format(2) }}%</strong><br/>
                <span style="margin-left: 15px">You may double-check occupancy</span>
            {% elseif occupancy_change > 0 and occupancy_change < 5 %}
                <i class="material-icons green lighten-2">trending_up</i> <strong>{{ occupancy_change|number_format(2) }}%</strong><br/>
                <span style="margin-left: 15px">Occupancy did not increase too much</span>
            {% elseif occupancy_change == 0 %}
                <i class="material-icons green lighten-2">trending_flat</i> <strong>{{ occupancy_change|number_format(2) }}%</strong><br/>
                <span style="margin-left: 15px">Occupancy did not change</span>
            {% elseif occupancy_change < 0 %}
                <i class="material-icons green lighten-2">trending_down</i> <strong>{{ occupancy_change|number_format(2) }}%</strong><br/>
                <span style="margin-left: 15px">You even have more occupancy than before</span>
            {% endif %}
        </p>
    </div>
    <div class="modal-footer">
        {% if rooms_overbooked is not empty %}
        <div class="card-panel red lighten-2" style="text-align: left">
            <ul>You are going to overbook if you send the booking to PMS, below the overbooked rooms:
            {% for label, room in rooms_overbooked %}
                <li><strong>{{ label }}</strong>: Overbooking of <strong>{{ room }}</strong></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="col s6" style="text-align: center">
            {{ form_start(optionDateForm, {'action': path('add_provider_option', {'id': enquiry.id})}) }}
            <p>Select option Date</p>
            {{ form_widget(optionDateForm) }}
            <button class="btn" id="option-btn">{{ button_label|default('Optionnal') }}</button>
            {{ form_end(optionDateForm) }}
        </div>
        <div class="col s6" style="text-align: center; margin-top: 136px">
            <a href="{{ path('add_provider_confirmed', {'id': enquiry.id}) }}" onsubmit="return confirm('Are you sure you want to send this group in Confirmed in the PMS?');">
                <button class="btn">Confirmed</button>
            </a>
        </div>
    </div>
</div>