{% extends 'base.html.twig' %}

{% block title %}Enquiry Pending{% endblock %}

{% block body %}
    <h1>Enquiries pending to quote</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Enquiry date</th>
            <th>Property</th>
            <th>Group name</th>
            <th>Check in date</th>
            <th>Check out date</th>
            <th>Persons</th>
            <th>Created By</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for enquiry in enquiries %}
            <tr>
                <td>{{ enquiry.enquiryDate ? enquiry.enquiryDate|date('Y-m-d h:i') : '' }}</td>
                <td>{{ enquiry.property.label }}</td>
                <td>{{ enquiry.groupName }}</td>
                <td>{{ enquiry.checkInDate ? enquiry.checkInDate|date('Y-m-d') : '' }}</td>
                <td>{{ enquiry.checkOutDate ? enquiry.checkOutDate|date('Y-m-d') : '' }}</td>
                <td>{{ enquiry.numberOfPersons }}</td>
                <td>{% if enquiry.createdBy is not null %}{{ enquiry.createdBy.firstName }} {{ enquiry.createdBy.lastName }}
                    {% else %}System
                    {% endif %}</td>
                <td>
                    <a href="{{ path('enquiry_show', {'id': enquiry.id}) }}"><button class="btn">Quote</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">You do not have any new enquiry to quote</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
