{% extends 'base.html.twig' %}

{% block title %}Revenue Configuration{% endblock %}

{% block body %}
    <h3>Revenue configuration</h3>
    <p>Default rate:
    {% if default_rate is not empty %}
        <b>{{ default_rate.rateType.label }} {% if default_rate.baseRateFix >0 %}+{% endif %}{{ default_rate.baseRateFix }}{% if default_rate.baseRateFix %}{{ default_rate.property.currency.symbol}}
            {% endif%} {% if default_rate.baseRateVariable - 1 * 100 >0 %}+{{ default_rate.baseRateVariable - 1 * 100 }}%{% elseif default_rate.baseRateVariable - 1 * 100 >-100 %}{{ default_rate.baseRateVariable - 1 * 100 }}%{% endif %}</b></p>
    {% endif %}
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') is not defined %}class="active"{% endif %} href="#general_filter">General Filters</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'breakdown_rules_add' %}class="active"{% endif %} href="#breakdown_rules_add">Breakdown rules - add room</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'breakdown_rules_remaining' %}class="active"{% endif %} href="#breakdown_rules_remaining">Breakdown rules - remaining</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'breakdown_rules_total' %}class="active"{% endif %} href="#breakdown_rules_total">Breakdown rules - total</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'rate_rules' %}class="active"{% endif %} href="#rate_rules">Rate rules</a></li>
            <li class="tab col s2"><a {% if app.request.session.get('active-tab') == 'extra_rules' %}class="active"{% endif %} href="#extra_rules">Extra rules</a></li>
        </ul>
    </div>

    <div id="general_filter" class="col s12">
        {% include 'revenue_configuration/tab/general_filter.html.twig' %}
    </div>
    <div id="breakdown_rules_add" class="col s12">
        {% include 'revenue_configuration/tab/breakdown_rule_add.html.twig' %}
    </div>
    <div id="breakdown_rules_remaining" class="col s12">
        {% include 'revenue_configuration/tab/breakdown_rule_remaining.html.twig' %}
    </div>
    <div id="breakdown_rules_total" class="col s12">
        {% include 'revenue_configuration/tab/breakdown_rule_total.html.twig' %}
    </div>
    <div id="rate_rules" class="col s12">
        {% include 'revenue_configuration/tab/rate_rule.html.twig' %}
    </div>
    <div id="extra_rules" class="col s12">
        {% include 'revenue_configuration/tab/extra_rule.html.twig' %}
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('.tabs').tabs();
            });
        </script>
    {% endblock %}
