{% extends 'base.html.twig' %}

{% block title %}Edit RoomType{% endblock %}

{% block body %}
    <h1>Edit Room: {{ room_type.label }}</h1>
    <h4>You need to activate Group Offers in order to give a priority</h4>
    {{ form_start(form) }}
    {{ form_label(form.groupOffers) }}
    <div class="switch">
        <label>
            No
            {{ form_widget(form.groupOffers) }}
            <span class="lever"></span>
            Yes
        </label>
    </div>
    <div class="col s3" style="padding: 10px 0 0 0">
        {{ form_widget(form) }}
        <button style="margin-bottom: 5px" class="btn">{{ button_label|default('Save') }}</button><br/>
        <a href="{{ path('property_configuration') }}"><button class="btn">Back to property configuration</button></a>
    </div>
    {{ form_end(form) }}
{% endblock %}
