<ul id="slide-out" class="sidenav">
    {% if app.request.session.get('brand') is null %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path('godboard_admin') }}">Willow's Admin Access</a></li>
            <li>
                <div class="divider"></div>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_WILLOW') %}
            <li><a href="{{ path('godboard_brand_index') }}">Manage Brands</a></li>
            <li><a href="{{ path('property_management_system_index') }}">Manage PMS</a></li>
        {% endif %}
    {% endif %}
    {% if not is_granted('ROLE_ADMIN_WILLOW') or app.request.session.get('brand') is not null %}
        <li id="sidenavtext">
            <span><strong>Property</strong></span>
        </li>
        <li><a href="{{ path('enquiry_pending') }}">Pending Enquiries</a></li>
        <li><a href="{{ path('follow_up_index') }}">Pending Follow Up</a></li>
        <li id="sidenavtext">
            <span>Set up</span>
        </li>
        <li><a href="{{ path('property_configuration') }}">Property Configuration</a></li>
        {% if is_granted('ROLE_REVENUE_MANAGER') %}
            <li><a href="{{ path('revenue_configuration') }}">Revenue Configuration</a></li>
            {% if is_granted('ROLE_ADMIN_BRAND') %}
                <li><a href="{{ path('preferences') }}">Preferences</a></li>
            {% endif %}
        {% endif %}
        <li>
            <div class="divider"></div>
        </li>
        <li id="sidenavtext">
            <span><strong>Brand</strong></span>
        </li>
        <li><a href="{{ path('enquiry_simulate') }}">Simulator</a></li>
        {% if is_granted('ROLE_REVENUE_MANAGER') %}
            <li><a href="{{ path('report') }}">Reporting</a></li>
            <li id="sidenavtext">
                <span>Set up</span>
            </li>
        <li><a href="{{ path('company_index') }}">Companies</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_BRAND') %}
        <li><a href="{{ path('brand_preferences') }}">Brand Preferences</a></li>
        <li><a href="{{ path('user_index') }}">Users</a></li>
        {% endif %}
    {% endif %}
</ul>