{% extends 'base.html.twig' %}

{% block title %}Edit BreakdownRuleTotal{% endblock %}

{% block body %}
    <h1>Edit Breakdown Rule depending on total rooms</h1>

    {{ include('breakdown_rule_total/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('revenue_configuration') }}"><button style="margin-bottom: 5px" class="btn">Back to revenue configuration</button></a>

    {{ include('breakdown_rule_total/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#breakdown-rule-total-btn').click(function(){
            if (!AgeMaxBiggerAgeMin($('#breakdown_rule_total_ageMin option:selected').attr('data-min'), $('#breakdown_rule_total_ageMax option:selected').attr('data-min'))){
                return false
            }
            if (!dateFromBeforeDateUntil($('#breakdown_rule_total_date_start').val(), $('#breakdown_rule_total_date_end').val())){
                return false
            }
            if (!maxLengthBiggerMinLength($('#breakdown_rule_total_length_min').val(), $('#breakdown_rule_total_length_max').val())){
                return false
            }
            if (!maxPaxBiggerMinPax($('#breakdown_rule_total_pax_min').val(), $('#breakdown_rule_total_pax_max').val())){
                return false
            }
            if (!maxOccBiggerMinOcc($('#breakdown_rule_total_occupancyMin').val(), $('#breakdown_rule_total_occupancyMax').val())){
                return false
            }
            if (!dateInThePast($('#breakdown_rule_total_date_start').val())){
                return false
            }
        })

    </script>
{% endblock %}