{% extends 'base.html.twig' %}

{% block title %}New Request Sent{% endblock %}

{% block body %}
    <h1>Your group request has been sent, you will receive an offer as soon as possible</h1>

    <p>Your reference number is {{ enquiry.reservationNumber }}</p>
{% endblock %}
