{% extends 'base.html.twig' %}

{% block title %}Edit BreakdownRuleAdd{% endblock %}

{% block body %}
    <h1>Edit Breakdown Rule to add rooms</h1>

    {{ include('breakdown_rule_add/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('revenue_configuration') }}"><button style="margin-bottom: 5px" class="btn">Back to revenue configuration</button></a>

    {{ include('breakdown_rule_add/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#breakdown-rule-add-btn').click(function(){
            if (!AgeMaxBiggerAgeMin($('#breakdown_rule_add_ageMin option:selected').attr('data-min'), $('#breakdown_rule_add_ageMax option:selected').attr('data-min'))){
                return false
            }
            if (!dateFromBeforeDateUntil($('#breakdown_rule_add_date_start').val(), $('#breakdown_rule_add_date_end').val())){
                return false
            }
            if (!maxLengthBiggerMinLength($('#breakdown_rule_add_length_min').val(), $('#breakdown_rule_add_length_max').val())){
                return false
            }
            if (!maxPaxBiggerMinPax($('#breakdown_rule_add_pax_min').val(), $('#breakdown_rule_add_pax_max').val())){
                return false
            }
            if (!maxOccBiggerMinOcc($('#breakdown_rule_add_occupancyMin').val(), $('#breakdown_rule_add_occupancyMax').val())){
                return false
            }
            if (!dateInThePast($('#breakdown_rule_add_date_start').val())){
                return false
            }
        })

    </script>
{% endblock %}