{% extends 'base.html.twig' %}

{% block title %}Add an age range{% endblock %}

{% block body %}
    <h1>Create a new age range</h1>

    {{ include('age/_form.html.twig') }}

    <a href="{{ path('brand_preferences') }}"><button class="btn">Back to brand preferences</button></a>
{% endblock %}