{% extends 'base.html.twig' %}

{% block title %}Forget Password{% endblock %}

{% block body %}
    <h4>Fill your email to reset your password</h4>
    <div class="col s3">
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    </div>
{% endblock %}