<div class="left">
    <a class="dropdown-trigger blo" href="#" data-target="dropdown-property" style="display: block">
        <i class="material-icons left">business</i>
        {% if app.request.session.get('property_id') %}
            {{ app.request.session.get('property_label') }}
        {% else %}
            All properties
        {% endif %}
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</div>
<ul id="dropdown-property" class="dropdown-content">
    <li><a href="{{ path('property_switch_reset') }}">All properties</a></li>
    {% if is_granted('ROLE_ADMIN_BRAND') and app.user.brand is not null %}
        {% for property in app.user.brand.properties %}
            <li><a href="{{ path('property_switch', {'id': property.id}) }}">{{ property.label }}</a></li>
        {% endfor %}
    {% elseif app.request.session.get('brand') is not null %}
        {% for property in property_list.list(app.request.session.get('brand')) %}
            <li><a href="{{ path('property_switch', {'id': property.id}) }}">{{ property.label }}</a></li>
        {% endfor %}
    {% else %}
        {% for property in app.user.getProperties %}
            <li><a href="{{ path('property_switch', {'id': property.id}) }}">{{ property.label }}</a></li>
        {% endfor %}
    {% endif %}
    <li class="divider"></li>
</ul>