<div id="search-content" class="right">
    <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Ref number / Group Name</label>
    </div>
    <div class="collection">

    </div>
</div>