{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="col s6">
    <form action="{{ path('app_login') }}" method="post">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="row">
            <div class="col s6">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
                <br/><br/>
                <a href="{{ path('forget_password') }}">Forget password</a>
            </div>
        </div>
    </form>
        <br/><br/><br/><br/><br/>
        <div>
            <a href="{{ path('privacy_policy') }}">Willow Privacy Policy</a>
        </div>
</div>
{% endblock %}
