{% extends 'base.html.twig' %}

{% block title %}Profile settings{% endblock %}

{% block body %}
    <h3>Update your profile settings</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}
{% endblock %}