<form method="post" action="{{ path('breakdown_rule_remaining_delete', {'id': breakdown_rule_remaining.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ breakdown_rule_remaining.id) }}">
    <button class="btn"><i class="material-icons">delete</i></button>
</form>
