{% extends 'base.html.twig' %}

{% block title %}Edit BreakdownRuleRemaining{% endblock %}

{% block body %}
    <h1>Edit Breakdown Rule depending on remaining rooms</h1>

    {{ include('breakdown_rule_remaining/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('revenue_configuration') }}"><button style="margin-bottom: 5px" class="btn">Back to revenue configuration</button></a>

    {{ include('breakdown_rule_remaining/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#breakdown-rule-remaining-btn').click(function(){
            if (!AgeMaxBiggerAgeMin($('#breakdown_rule_remaining_ageMin option:selected').attr('data-min'), $('#breakdown_rule_remaining_ageMax option:selected').attr('data-min'))){
                return false
            }
            if (!dateFromBeforeDateUntil($('#breakdown_rule_remaining_date_start').val(), $('#breakdown_rule_remaining_date_end').val())){
                return false
            }
            if (!maxLengthBiggerMinLength($('#breakdown_rule_remaining_length_min').val(), $('#breakdown_rule_remaining_length_max').val())){
                return false
            }
            if (!maxPaxBiggerMinPax($('#breakdown_rule_remaining_paxMin').val(), $('#breakdown_rule_remaining_paxMax').val())){
                return false
            }
            if (!maxOccBiggerMinOcc($('#breakdown_rule_remaining_occupancyMin').val(), $('#breakdown_rule_remaining_occupancyMax').val())){
                return false
            }
            if (!dateInThePast($('#breakdown_rule_remaining_date_start').val())){
                return false
            }
        })

    </script>
{% endblock %}