{% extends 'base.html.twig' %}

{% block title %}Follow up index{% endblock %}

{% block body %}
    <h1>List of pending Follow up</h1>

    <table class="striped centered">
        <thead>
        <tr>
            <th>Follow up date</th>
            <th>Chase number</th>
            <th>Reservation number</th>
            <th>Account Manager</th>
            <th>Group name</th>
            <th>Total Room Amount</th>
            <th>Comment</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for followup in followups %}
            {% set nights = 0 %}
            {% set nights = 0 %}
            {% set total_persons = 0 %}
            {% set total_price = 0 %}
            {% if followup.enquiry.offer is not null%}
                {% for room in followup.enquiry.offer.rooms  %}
                    {% set difference = date(room.checkOutDate).diff(date(room.checkInDate)) %}
                    {% set nights = difference.days %}
                    {% set room_price = 0 %}
                    {% set room_price = room.averageRate * room.roomQuantity * nights %}
                    {% set total_price = total_price + room_price %}
                {% endfor %}
            {% endif %}
            <tr>
                <td>{{ followup.provideDate ? followup.provideDate|date('Y-m-d') : '' }}</td>
                <td>{{ followup.number }}</td>
                <td>{{ followup.enquiry.reservationNumber }}</td>
                <td>
                    {% if followup.enquiry.company is not null %}
                        {% if followup.enquiry.company.user is not null %}
                    {{ followup.enquiry.company.user.firstname }} {{ followup.enquiry.company.user.lastname }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ followup.enquiry.groupName }}</td>
                <td>{{ total_price }}</td>
                <td style="width: 30%; text-align: left">{{ followup.comment }}</td>
                <td style="width: 200px">
                    <a href="{{ path('follow_up_validate_list', {'id' : followup.id }) }}" onclick="return confirm('Enquiry chased for sure?');"><button class="btn">Done</button></a>
                    <a href="{{ path('follow_up_edit', {'id' : followup.id }) }}"><button class="btn">Edit</button></a>
                    <a href="{{ path('show_follow_up_in_enquiry', {'id': followup.id}) }}"><button style="margin-top: 5px" class="btn">Show enquiry</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no follow up pending</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
