{% extends 'base.html.twig' %}

{% block title %}FollowUp{% endblock %}

{% block body %}
    <h1>Follow Up</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ follow_up.id }}</td>
            </tr>
            <tr>
                <th>Provide_date</th>
                <td>{{ follow_up.provideDate ? follow_up.provideDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ follow_up.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('follow_up_index') }}">back to list</a>

    <a href="{{ path('follow_up_edit', {'id': follow_up.id}) }}">edit</a>

    {{ include('follow_up/_delete_form.html.twig') }}
{% endblock %}
