<form method="post" action="{{ path('rate_rule_delete', {'id': rate_rule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rate_rule.id) }}">
    <button class="btn"><i class="material-icons">delete</i></button>
</form>
