{% extends 'base.html.twig' %}

{% block title %}Edit Rate Rule{% endblock %}

{% block body %}
    {% if rate_rule.defaultSelection == 1 %}
        <h1>Edit Default Rate Rule</h1>
    {% else %}
        <h1>Edit Rate Rule</h1>
    {% endif %}

    {{ include('rate_rule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('revenue_configuration') }}"><button style="margin-bottom: 5px" class="btn">Back to revenue configuration</button></a>

    {% if rate_rule.defaultSelection == 0 %}
        {{ include('rate_rule/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#rate-rule-btn').click(function(){
            if (!AgeMaxBiggerAgeMin($('#rate_rule_ageMin option:selected').attr('data-min'), $('#rate_rule_ageMax option:selected').attr('data-min'))){
                return false
            }
            if (!dateFromBeforeDateUntil($('#rate_rule_date_start').val(), $('#rate_rule_date_end').val())){
                return false
            }
            if (!maxLengthBiggerMinLength($('#rate_rule_length_min').val(), $('#rate_rule_length_max').val())){
                return false
            }
            if (!maxPaxBiggerMinPax($('#rate_rule_pax_min').val(), $('#rate_rule_pax_max').val())){
                return false
            }
            if (!maxOccBiggerMinOcc($('#rate_rule_occupancyMin').val(), $('#rate_rule_occupancyMax').val())){
                return false
            }
            if (!dateInThePast($('#rate_rule_date_start').val())){
                return false
            }
        })

    </script>
{% endblock %}