{% extends 'base.html.twig' %}

{% block title %}New Rate Rule{% endblock %}

{% block body %}
    <h1>Create a new Rate Rule</h1>

    {% if similar_rule is defined %}
        <div class="card-panel red lighten-2">There is already a rate with the same priority for these dates:
        {{ similar_rule.dateStart|date('d-m-Y') }} - {{ similar_rule.dateEnd|date('d-m-Y') }}</div>
    {% endif %}

    {{ include('rate_rule/_form.html.twig') }}
    <a href="{{ path('revenue_configuration') }}"><button class="btn">Back to revenue configuration</button></a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#rate-rule-btn').click(function(){
            if (!AgeMaxBiggerAgeMin($('#rate_rule_ageMin option:selected').attr('data-min'), $('#rate_rule_ageMax option:selected').attr('data-min'))){
                return false
            }
            if (!dateFromBeforeDateUntil($('#rate_rule_date_start').val(), $('#rate_rule_date_end').val())){
                return false
            }
            if (!maxLengthBiggerMinLength($('#rate_rule_length_min').val(), $('#rate_rule_length_max').val())){
                return false
            }
            if (!maxPaxBiggerMinPax($('#rate_rule_pax_min').val(), $('#rate_rule_pax_max').val())){
                return false
            }
            if (!maxOccBiggerMinOcc($('#rate_rule_occupancyMin').val(), $('#rate_rule_occupancyMax').val())){
                return false
            }
            if (!dateInThePast($('#rate_rule_date_start').val())){
                return false
            }
        })

    </script>
{% endblock %}