{% if is_granted('ROLE_REVENUE_MANAGER') %}
    <a href="{{ path('extra_new') }}"><button style="margin-top: 10px" class="btn">Create new Extra Type</button></a>
{% endif %}
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 30%">Label</th>
        <th style="width: 30%">Price per item</th>
        <th style="width: 30%">Category</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for extra in extras %}
        <tr>
            <td>{{ extra.label }}</td>
            <td>{{ extra.price }}</td>
            <td>{{ extra.category }}</td>
            <td>
                {% if is_granted('ROLE_REVENUE_MANAGER') %}
                <a href="{{ path('extra_edit', {'id': extra.id}) }}"><button class="btn">Edit</button></a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>