<h4>Active Room types used in group offers</h4>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 15%">Room name</th>
        <th style="width: 15%">Capacity</th>
        <th style="width: 15%">Quantity</th>
        <th style="width: 15%">Use in group offers</th>
        <th style="width: 15%">Priority in the group offer</th>
        <th style="width: 15%">Breakdown Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for room_type in room_types_offers|filter(room_type => room_type.groupOffers == true) %}
        <tr>
            <td>{{ room_type.label }}</td>
            <td>{{ room_type.capacity }}</td>
            <td>{{ room_type.quantity }}</td>
            <td>{{ room_type.groupOffers ? 'Yes' : 'No' }}</td>
            <td>{{ room_type.priority }}</td>
            <td>{% for breakdown in room_type.breakdownType %}{{ breakdown.label }}<br/>{% endfor %}</td>
            <td>
                {% if is_granted('ROLE_REVENUE_MANAGER') %}
                <a href="{{ path('room_type_edit', {'id': room_type.id}) }}"><button class="btn">edit</button></a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h4>Active Room types not used in group offers</h4>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 15%">Room name</th>
        <th style="width: 15%">Capacity</th>
        <th style="width: 15%">Quantity</th>
        <th style="width: 15%">Use in group offers</th>
        <th style="width: 15%">Priority in the group offer</th>
        <th style="width: 15%">Breakdown Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for room_type in room_types_offers|filter(room_type => room_type.groupOffers == false) %}
        <tr>
            <td>{{ room_type.label }}</td>
            <td>{{ room_type.capacity }}</td>
            <td>{{ room_type.quantity }}</td>
            <td>{{ room_type.groupOffers ? 'Yes' : 'No' }}</td>
            <td>{{ room_type.priority }}</td>
            <td>{% for breakdown in room_type.breakdownType %}{{ breakdown.label }}<br/>{% endfor %}</td>
            <td>
                {% if is_granted('ROLE_REVENUE_MANAGER') %}
                <a href="{{ path('room_type_edit', {'id': room_type.id}) }}"><button class="btn">edit</button></a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No rooms not used for group offers</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Old room types that can no longer be used</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 15%">Room name</th>
        <th style="width: 15%">Capacity</th>
        <th style="width: 15%">Quantity</th>
        <th style="width: 15%">Use in group offers</th>
        <th style="width: 15%">Priority in the group offer</th>
        <th style="width: 15%">Breakdown Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for room_type in room_types|filter(room_type => room_type.activated == false) %}
        <tr>
            <td>{{ room_type.label }}</td>
            <td>{{ room_type.capacity }}</td>
            <td>{{ room_type.quantity }}</td>
            <td>{{ room_type.groupOffers ? 'Yes' : 'No' }}</td>
            <td>{{ room_type.priority }}</td>
            <td>{% for breakdown in room_type.breakdownType %}{{ breakdown.label }}<br/>{% endfor %}</td>
            <td></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No old rooms</td>
        </tr>
    {% endfor %}
    </tbody>
</table>