{% extends 'base.html.twig' %}

{% block title %}Edit ExtraRule{% endblock %}

{% block body %}
    <h1>Edit Willow's admins</h1>

    {{ include('godboard/admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('godboard_admin') }}"><button class="btn">Back to list</button></a>

    {{ include('godboard/admin/_delete_form.html.twig') }}
{% endblock %}