{% extends 'base.html.twig' %}

{% block title %}God board{% endblock %}

{% block body %}
    <h1>Control the access of Willow's admin</h1>
    <h4>Activated Users</h4>
    <table>
        <thead>
            <tr>
                <th>Mail</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Created Date</th>
                <th>Access</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users|filter(user => user.activated == true) %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.creationDate|date('d/m/Y') }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_switch', {id: user.id}) }}">
                        {% if user.activated %}deactivate{% else %}activate{% endif %}
                    </a>
                </td>
                <td><a href="{{ path('edit_willow_admin', {'id': user.id}) }}">edit</a></td>
                <td>
                    {% if user.resetPassword == true %}
                        Mail sent for new password
                    {% else %}
                        <a href="{{ path('reset_password', {id: user.id}) }}">reset password by mail</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tr>
            <td>
                <a class="btn" href="{{ path('new_willow_admin') }}">add new</a>
            </td>
        </tr>
    </table>
    <h4>Not activated Users</h4>
    <table>
        <thead>
        <tr>
            <th>Mail</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Created Date</th>
            <th>Access</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users|filter(user => user.activated == false) %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.creationDate|date('d/m/Y') }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_switch', {id: user.id}) }}">
                        {% if user.activated %}deactivate{% else %}activate{% endif %}
                    </a>
                </td>
                <td><a href="{{ path('edit_willow_admin', {'id': user.id}) }}">edit</a></td>
                <td>
                    {% if user.resetPassword == true %}
                        Mail sent for new password
                    {% else %}
                        <a href="{{ path('reset_password', {id: user.id}) }}">reset password by mail</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}