{% extends 'base.html.twig' %}

{% block title %}New ExtraRule{% endblock %}

{% block body %}
    <h1>Create new Willow's admin</h1>

    {{ include('godboard/admin/_form.html.twig') }}

    <a href="{{ path('godboard_admin') }}"><button class="btn">Back to list</button></a>
{% endblock %}