{% extends 'base.html.twig' %}

{% block title %}Brands{% endblock %}

{% block body %}
    <h1>Create a new brand (based on Willow brand)</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}