{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% if app.request.session.get('brand') is null %}
        {% if is_granted('ROLE_ADMIN_WILLOW') %}
            <h1>Welcome to the admin part of Willow</h1>
        {% endif %}
    {% endif %}
    {% if not is_granted('ROLE_ADMIN_WILLOW') or app.request.session.get('brand') is not null %}
        {% if app.request.session.get('property_id') is null %}
            <h1>Company's recap, select a propertya</h1>
            <div class="row">
                <div class="col s6">
                    <ul class="collection with-header" id="dashboard-block">
                        <li class="collection-header"><h5>10 last Enquiries created</h5></li>
                        <li class="collection-item">
                            <table>
                                <thead>
                                <tr>
                                    <th style="padding:8px">Ref number</th>
                                    <th style="padding:8px">Group Name</th>
                                    <th style="padding:8px">Dates</th>
                                    <th style="padding:8px">Persons</th>
                                    <th style="padding:8px"></th>
                                </tr>
                                </thead>
                                {% for enquiry in last_enquiry_brand %}
                                    <tr>
                                        <td style="padding:6px">{{ enquiry.reservationNumber }}</td>
                                        <td style="padding:6px">{{ enquiry.groupName }}</td>
                                        <td style="padding:6px">{{ enquiry.checkInDate.format('d/m/Y') }} - {{ enquiry.checkOutDate.format('d/m/Y') }}</td>
                                        <td style="padding:6px">{{ enquiry.numberOfPersons }}</td>
                                        <td style="padding:6px"><a href="{{ path('enquiry_show', {'id': enquiry.id}) }}"
                                                                   class="secondary-content"><i class="material-icons">remove_red_eye</i></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </li>
                    </ul>
                </div>
                <div class="col s6">
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Enquiries created in the last 10 days</h5></li>
                        <li class="collection-item">
                            <div class="col s1"></div>
                            <div class="col s10">
                                <canvas id="linePerDayBrand" aria-label="line Per Day" role="img">></canvas>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="last-ten-days-brand" class="last-ten-days-brand" data-last-ten-days-brand="{{ last_ten_days_brand|json_encode() }}"></div>
        {% else %}
        <div class="row">
            <div class="col s6">
                <h4><em>Let's increase your group business! </em><i class="small material-icons">directions_run</i></h4>
                <ul class="collection with-header" id="dashboard-block">
                    <li class="collection-header"><h5>5 last Enquiries created</h5></li>
                    <li class="collection-item">
                        <table>
                            <thead>
                            <tr>
                                <th style="padding:8px">Ref number</th>
                                <th style="padding:8px">Group Name</th>
                                <th style="padding:8px">Dates</th>
                                <th style="padding:8px">Persons</th>
                                <th style="padding:8px"></th>
                            </tr>
                            </thead>
                            {% for enquiry in last_enquiry %}
                                <tr>
                                    <td style="padding:6px">{{ enquiry.reservationNumber }}</td>
                                    <td style="padding:6px">{{ enquiry.groupName }}</td>
                                    <td style="padding:6px">{{ enquiry.checkInDate.format('d/m/Y') }} - {{ enquiry.checkOutDate.format('d/m/Y') }}</td>
                                    <td style="padding:6px">{{ enquiry.numberOfPersons }}</td>
                                    <td style="padding:6px"><a href="{{ path('enquiry_show', {'id': enquiry.id}) }}"
                                           class="secondary-content"><i class="material-icons">remove_red_eye</i></a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </li>
                </ul>
                <ul class="collection with-header" id="dashboard-block">
                    <li class="collection-header"><h5>5 Biggest Enquiries created in the last 30 days</h5></li>
                    <li class="collection-item">
                        <div class="col s11">
                            <canvas id="barBiggest" aria-label="Bar Biggest" role="img">></canvas>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s6" style="padding: 5% 1% 2% 0">
                    <ul class="collection with-header" style="margin: 0">
                        <li class="collection-header"><h5><a href="{{ path('follow_up_index') }}">Follow up pending</a></h5></li>
                        <li class="collection-item">
                            {% set followUps = follow_up_first + follow_up_sec + follow_up_third %}
                            {% if followUps == 0 %}
                                <div>
                                    <h5>No pending follow up, great job!</h5>
                                </div>
                            {% else %}
                                <div style="vertical-align: middle">
                                    <div style="margin-top:3%"><i class="material-icons green-text text-darken-4" style="vertical-align: bottom;">fiber_manual_record</i>  1st Chase</div>
                                    <div style="margin-top:1%"><i class="material-icons light-green-text text-darken-1" style="vertical-align: bottom;">fiber_manual_record</i>  2nd Chase</div>
                                    <div style="margin-top:1%"><i class="material-icons green-text text-lighten-4" style="vertical-align: bottom;">fiber_manual_record</i>  3rd Chase or more</div>
                                </div>
                                <div class="col s3"></div>
                                <div class="col s6" style="margin-bottom:0.75rem; margin-top:1rem">
                                    <canvas id="pieFollow" aria-label="Pie Follow" role="img">></canvas>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                    </div>
                    <div class="col s6" style="padding: 5% 0 2% 1%">
                    <ul class="collection with-header" style="margin: 0">
                        <li class="collection-header">
                            <h5><a href="{{ path('enquiry_pending') }}">Enquiries pending to deal with</a></h5></li>
                        <li class="collection-item">
                            {% set pendings = pending_one_day + pending_three_day + pending_max %}
                            {% if pendings == 0 %}
                                <div>
                                    <h5>No enquiry pending, let's wait for the next one!</h5>
                                </div>
                            {% else %}
                                <div style="vertical-align: middle">
                                    <div style="margin-top:3%"><i class="material-icons green-text text-darken-4" style="vertical-align: bottom;">fiber_manual_record</i>  Less than 24 hours</div>
                                    <div style="margin-top:1%"><i class="material-icons light-green-text text-darken-1" style="vertical-align: bottom;">fiber_manual_record</i>  Between 1 and 3 days</div>
                                    <div style="margin-top:1%"><i class="material-icons green-text text-lighten-4" style="vertical-align: bottom;">fiber_manual_record</i>  More than 3 days</div>
                                </div>
                                <div class="col s3"></div>
                                <div class="col s6" style="margin-bottom:0.75rem; margin-top:1rem">
                                    <canvas id="piePending" aria-label="Pie Pending" role="img">></canvas>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="row">
                    <ul class="collection with-header" style="margin: 0">
                        <li class="collection-header"><h5>Enquiries created in the last 10 days</h5></li>
                        <li class="collection-item">
                            <div class="col s1"></div>
                            <div class="col s10">
                                <canvas id="linePerDay" aria-label="line Per Day" role="img">></canvas>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="group-name" class="group-name" data-group-name="{{ group_name|json_encode() }}"></div>
        <div id="room-total" class="room-total" data-room-total="{{ room_total|json_encode() }}"></div>
        <div id="pending-one" class="pending-one" data-pending-one="{{ pending_one_day|number_format }}"></div>
        <div id="pending-three" class="pending-three" data-pending-three="{{ pending_three_day|number_format }}"></div>
        <div id="pending-max" class="pending-max" data-pending-max="{{ pending_max|number_format }}"></div>
        <div id="last-ten-days" class="last-ten-days" data-last-ten-days="{{ last_ten_days|json_encode() }}"></div>
        <div id="follow-first" class="follow-first" data-follow-first="{{ follow_up_first|number_format() }}"></div>
        <div id="follow-second" class="follow-second" data-follow-second="{{ follow_up_sec|number_format() }}"></div>
        <div id="follow-third" class="follow-third" data-follow-third="{{ follow_up_third|number_format() }}"></div>
        {% endif %}
        <div id="period-ten-days" class="period-ten-days" data-period-ten-days="{{ period_ten_days|json_encode() }}"></div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        lineEnquiryPerDay($('.period-ten-days').data('periodTenDays'), $('.last-ten-days').data('lastTenDays'),
            document.getElementById('linePerDay'));
        lineEnquiryPerDay($('.period-ten-days').data('periodTenDays'), $('.last-ten-days-brand').data('lastTenDaysBrand'),
            document.getElementById('linePerDayBrand'));
        barBiggestEnquiries(document.getElementById('barBiggest'), $('.group-name').data('groupName'),
            $('.room-total').data('roomTotal'));
        {% set pendings = pending_one_day + pending_three_day + pending_max %}
        {% if pendings != 0 %}
        pie($('.pending-one').data('pendingOne'), $('.pending-three').data('pendingThree'),
            $('.pending-max').data('pendingMax'), document.getElementById('piePending'));
        {% endif %}
        {% set followUps = follow_up_first + follow_up_sec + follow_up_third %}
        {% if followUps != 0 %}
        pie($('.follow-first').data('followFirst'), $('.follow-second').data('followSecond'),
            $('.follow-third').data('followThird'), document.getElementById('pieFollow'));
        {% endif %}
    </script>
{% endblock %}