{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User List</h1>
    <a href="{{ path('user_new', {'id': brand.id}) }}"><button class="btn">Create new User</button></a>
    <h4>Activated Users</h4>
    <table class="table striped">
        <thead>
            <tr>
                <th style="width: 25%">Email</th>
                <th style="width: 15%">Role</th>
                <th style="width: 20%">Properties</th>
                <th style="width: 10%"></th>
                <th style="width: 10%"></th>
                <th style="width: 20%"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users|filter(user => user.activated == true) %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{% for property in user.properties %}{{ property.label ~ (not loop.last ? ', ') }}{% endfor %}</td>
                <td>
                    <a href="{{ path('user_switch', {id: user.id}) }}">
                        {% if user.activated %}<button class="btn">Deactivate</button>{% else %}<button class="btn">Activate</button>{% endif %}
                    </a>
                </td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn">edit</button></a>
                </td>
                <td>
                    {% if user.resetPassword == true %}
                        Mail sent for new password
                    {% else %}
                        <a href="{{ path('reset_password', {id: user.id}) }}"><button class="btn">Reset password by mail</button></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Not activated Users</h4>
    <table class="table striped">
        <thead>
        <tr>
            <th style="width: 25%">Email</th>
            <th style="width: 15%">Role</th>
            <th style="width: 20%">Properties</th>
            <th style="width: 10%"></th>
            <th style="width: 10%"></th>
            <th style="width: 20%"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users|filter(user => user.activated == false) %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{% for property in user.properties %}{{ property.label ~ (not loop.last ? ', ') }}{% endfor %}</td>
                <td>
                    <a href="{{ path('user_switch', {id: user.id}) }}">
                        {% if user.activated %}<button class="btn">Deactivate</button>{% else %}<button class="btn">Activate</button>{% endif %}
                    </a>
                </td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn">edit</button></a>
                </td>
                <td>
                    {% if user.resetPassword == true %}
                        Mail sent for new password
                    {% else %}
                        <a href="{{ path('reset_password', {id: user.id}) }}"><button class="btn">Reset Password by Mail</button></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
