{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}"><button style="margin-bottom: 5px" class="btn">Back to user list</button></a>
{% endblock %}
