{% extends 'base.html.twig' %}

{% block title %}Add a status{% endblock %}

{% block body %}
    <h1>Create a new status</h1>

    {{ include('status/_form.html.twig') }}

    <a href="{{ path('brand_preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to brand preferences</button></a>
{% endblock %}