<form method="post" action="{{ path('template_proposal_delete', {'id': template_proposal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ template_proposal.id) }}">
    <button class="btn"><i class="material-icons">delete</i></button>
</form>
