{{ form_start(form) }}
    {{ form_label(form.defaultSelection) }}
<div class="switch">
    <label>
        No
        {{ form_widget(form.defaultSelection) }}
        <span class="lever"></span>
        Yes
    </label>
</div>
{{ form_widget(form) }}
<button style="margin-bottom: 5px" class="btn" id="filter-btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
