<h4>Breakdown rules depending on the total rooms</h4>
<p>Create rules to leave a minimum stock of a specific room depending on the total rooms in the property</p>
<p>Example: <em>Create a rule so that the twins taken for the quote do not exceed 70% of the total rooms in the property</em></p>
<a href="{{ path('breakdown_rule_total_new') }}"><button class="btn">Create New Breakdown rule depending on the total rooms</button></a>
<h5>Activated Rules</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 15%">Rule Name</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th colspan="2" style="width: 10%">Length of stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 23%">Check in Dates</th>
        <th style="width: 7%">Room</th>
        <th style="width: 7%">Max Percentage taken</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 9%">days</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for breakdown_rule_total in breakdown_rule_totals|filter(breakdown_rule_total => breakdown_rule_total.active == true) %}
        <tr>
            <td>{{ breakdown_rule_total.label }}</td>
            <td>{{ breakdown_rule_total.paxMin }}</td>
            <td>{{ breakdown_rule_total.paxMax }}</td>
            <td>{{ breakdown_rule_total.lengthMin }}</td>
            <td>{{ breakdown_rule_total.lengthMax }}</td>
            <td>{{ breakdown_rule_total.occupancyMin }}</td>
            <td>{{ breakdown_rule_total.occupancyMax }}</td>
            <td>{% if breakdown_rule_total.ageMin is not null %}{{ breakdown_rule_total.ageMin.label }}{% endif %}</td>
            <td>{% if breakdown_rule_total.ageMax is not null %}{{ breakdown_rule_total.ageMax.label }}{% endif %}</td>
            <td>{{ breakdown_rule_total.dateStart ? breakdown_rule_total.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ breakdown_rule_total.dateEnd ? breakdown_rule_total.dateEnd|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in breakdown_rule_total.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>{{ breakdown_rule_total.room.label }}</td>
            <td>{{ breakdown_rule_total.percentageLeft }}</td>
            <td>
                <a href="{{ path('breakdown_rule_total_edit', {'id': breakdown_rule_total.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="15">No active rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Rules not activated</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 15%">Rule Name</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th colspan="2" style="width: 10%">Length of stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 23%">Check in Dates</th>
        <th style="width: 7%">Room</th>
        <th style="width: 7%">Max Percentage taken</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 9%">days</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for breakdown_rule_total in breakdown_rule_totals|filter(breakdown_rule_total => breakdown_rule_total.active == false) %}
        <tr>
            <td>{{ breakdown_rule_total.label }}</td>
            <td>{{ breakdown_rule_total.paxMin }}</td>
            <td>{{ breakdown_rule_total.paxMax }}</td>
            <td>{{ breakdown_rule_total.lengthMin }}</td>
            <td>{{ breakdown_rule_total.lengthMax }}</td>
            <td>{{ breakdown_rule_total.occupancyMin }}</td>
            <td>{{ breakdown_rule_total.occupancyMax }}</td>
            <td>{% if breakdown_rule_total.ageMin is not null %}{{ breakdown_rule_total.ageMin.label }}{% endif %}</td>
            <td>{% if breakdown_rule_total.ageMax is not null %}{{ breakdown_rule_total.ageMax.label }}{% endif %}</td>
            <td>{{ breakdown_rule_total.dateStart ? breakdown_rule_total.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ breakdown_rule_total.dateEnd ? breakdown_rule_total.dateEnd|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in breakdown_rule_total.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>{{ breakdown_rule_total.room.label }}</td>
            <td>{{ breakdown_rule_total.percentageLeft }}</td>
            <td>
                <a href="{{ path('breakdown_rule_total_edit', {'id': breakdown_rule_total.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="15">No inactive rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>