<h4>Breakdown rules to add rooms</h4>
<p>Create rules to automatically add a specific rooms to any quote with predetermined conditions</p>
<p>Example: <em>Create a rule to add 1 twin room every 25 persons for July</em></p>
<a href="{{ path('breakdown_rule_add_new') }}"><button class="btn">Create New Breakdown rule to add rooms</button></a>
<h5>Activated Rules</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 13%">Rule name</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th style="width: 7%">Ratio</th>
        <th colspan="2" style="width: 10%">Length of Stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 20%">Check in Dates</th>
        <th style="width: 7%">Room</th>
        <th style="width: 7%">Quantity</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 8%">days</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for breakdown_rule_add in breakdown_rule_adds|filter(breakdown_rule_add => breakdown_rule_add.active == true) %}
        <tr>
            <td>{{ breakdown_rule_add.label }}</td>
            <td>{{ breakdown_rule_add.paxMin }}</td>
            <td>{{ breakdown_rule_add.paxMax }}</td>
            <td>{{ breakdown_rule_add.ratio }}</td>
            <td>{{ breakdown_rule_add.lengthMin }}</td>
            <td>{{ breakdown_rule_add.lengthMax }}</td>
            <td>{{ breakdown_rule_add.occupancyMin }}</td>
            <td>{{ breakdown_rule_add.occupancyMax }}</td>
            <td>{% if breakdown_rule_add.ageMin is not null %}{{ breakdown_rule_add.ageMin.label }}{% endif %}</td>
            <td>{% if breakdown_rule_add.ageMax is not null %}{{ breakdown_rule_add.ageMax.label }}{% endif %}</td>
            <td>{{ breakdown_rule_add.dateStart ? breakdown_rule_add.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ breakdown_rule_add.dateEnd ? breakdown_rule_add.dateEnd|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in breakdown_rule_add.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>{{ breakdown_rule_add.roomToAdd.label }}</td>
            <td>{{ breakdown_rule_add.quantity }}</td>
            <td>
                <a href="{{ path('breakdown_rule_add_edit', {'id': breakdown_rule_add.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="16">No active rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Rules not activated</h5>
<table class="table centered striped">
    <thead>
    <tr>
        <th style="width: 13%">Rule name</th>
        <th colspan="2" style="width: 10%">Persons</th>
        <th style="width: 7%">Ratio</th>
        <th colspan="2" style="width: 10%">Length of Stay</th>
        <th colspan="2" style="width: 10%">Occupancy</th>
        <th colspan="2" style="width: 10%">Age</th>
        <th colspan="3" style="width: 20%">Check in Dates</th>
        <th style="width: 7%">Room</th>
        <th style="width: 7%">Quantity</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th></th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th>min</th>
        <th>max</th>
        <th style="width: 8%">days</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for breakdown_rule_add in breakdown_rule_adds|filter(breakdown_rule_add => breakdown_rule_add.active == false) %}
        <tr>
            <td>{{ breakdown_rule_add.label }}</td>
            <td>{{ breakdown_rule_add.paxMin }}</td>
            <td>{{ breakdown_rule_add.paxMax }}</td>
            <td>{{ breakdown_rule_add.ratio }}</td>
            <td>{{ breakdown_rule_add.lengthMin }}</td>
            <td>{{ breakdown_rule_add.lengthMax }}</td>
            <td>{{ breakdown_rule_add.occupancyMin }}</td>
            <td>{{ breakdown_rule_add.occupancyMax }}</td>
            <td>{% if breakdown_rule_add.ageMin is not null %}{{ breakdown_rule_add.ageMin.label }}{% endif %}</td>
            <td>{% if breakdown_rule_add.ageMax is not null %}{{ breakdown_rule_add.ageMax.label }}{% endif %}</td>
            <td>{{ breakdown_rule_add.dateStart ? breakdown_rule_add.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ breakdown_rule_add.dateEnd ? breakdown_rule_add.dateEnd|date('Y-m-d') : '' }}</td>
            <td>
                {% for days in breakdown_rule_add.daySelection %}
                    {{ days }}{% if not loop.last %},{% endif %}
                {% else %}
                    -
                {% endfor %}
            </td>
            <td>{{ breakdown_rule_add.roomToAdd.label }}</td>
            <td>{{ breakdown_rule_add.quantity }}</td>
            <td>
                <a href="{{ path('breakdown_rule_add_edit', {'id': breakdown_rule_add.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="16">No inactive rules</td>
        </tr>
    {% endfor %}
    </tbody>
</table>