<ul class="collapsible expandable room-list" data-prototype="{{ form_widget(offerForm.rooms.vars.prototype)|e('html_attr') }}">
    {% for room in offerForm.rooms %}
        <li data-index="{{ loop.index0 }}">
            <div class="row room" id="rows_offer">
                {{ form_row(room.roomQuantity) }}
                {{ form_row(room.roomType) }}
                {{ form_row(room.checkInDate, { 'attr': {'style': 'min-width:110px'}}) }}
                {{ form_row(room.checkOutDate, { 'attr': {'style': 'min-width:110px'}}) }}
                {{ form_row(room.personsInTheRoom) }}
                {{ form_row(room.average) }}
                <i class="material-icons collapsible-header expand-offer" style="padding: 10px; margin-top: 8px">expand_more</i>
            </div>
            {% for rate in room.rates %}
            <div class="collapsible-body row rate" id="rows_offer">
                {{ form_row(rate.date) }}
                {{ form_row(rate.price) }}
            </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
<button type="button" id="add_item_room" class="btn add_item_link" data-class-list="room-list" data-form-type="room">Add a room</button>
<button class="btn" id="update_room_btn">{{ button_label|default('Save') }}</button>
