<h4>Terms and Conditions</h4>
{% if condition_default is not empty %}
    <p><i class="medium material-icons">warning</i><br/>
        Careful, you did not choose a Default Terms & Condition Template for the languages below:<br/>
        {% for condition_default in condition_default %}<b>{{ condition_default.label }}<br/></b>{% endfor %}
    </p>
{% endif %}
<a href="{{ path('conditions_new') }}"><button class="btn">New</button></a>
<table class="table centered striped">
    <thead>
    <tr>
        <th>Default</th>
        <th>Label</th>
        <th>Language</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for conditions in termsconditions %}
        <tr>
            <td>{% if conditions.defaultSelection == 1 %}Default{% endif %}</td>
            <td>{{ conditions.label }}</td>
            <td>
                {% if conditions.language.label is defined %}
                    {{ conditions.language.label }}
                {% endif %}
            </td>
            <td>
                <a href="{{ path('conditions_edit', {'id': conditions.id}) }}"><button class="btn">edit</button></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
