<h4>Update your preferences</h4>
<div class="col s8">
{{ form_start(preferenceForm) }}
<div class="col s6">
    <h5>Property Information</h5>
    {{ form_row(preferenceForm.label) }}
    {{ form_row(preferenceForm.address) }}
    {{ form_row(preferenceForm.currency) }}
    {{ form_row(preferenceForm.language) }}
    {{ form_row(preferenceForm.defaultLanguage) }}
    <button class="btn" style="margin-top: 20px; float: right">{{ button_label|default('Update') }}</button>
</div>
<div class="col s6">
    <h5>Enquiry Configuration</h5>
    {{ form_row(preferenceForm.preference_email) }}
    {{ form_row(preferenceForm.apiKey) }}
    {{ form_row(preferenceForm.rate_display) }}
    {{ form_row(preferenceForm.emptyBedsCharged) }}
    {{ form_row(preferenceForm.breakdownTypes) }}
    <button class="btn" style="margin-top: 20px; float: right">{{ button_label|default('Update') }}</button>
</div>
{{ form_end(preferenceForm) }}
</div>
<div class="col s4">
    <h5>Follow up preferences</h5>
    <a style="float: right" href="{{ path('app_follow_up_preference_new') }}"><button class="btn">New</button></a>
    <table class="table centered striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>Days after enquiry creation</th>
        </tr>
        </thead>
        <tbody>
        {% for follow_up_preference in follow_up_preferences %}
            <tr>
                <td>{{ follow_up_preference.classification }}</td>
                <td>{{ follow_up_preference.days }}</td>
                <td>
                    <a href="{{ path('app_follow_up_preference_edit', {'id': follow_up_preference.id}) }}"><button class="btn">Edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no follow up planned</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
