{% extends 'base.html.twig' %}

{% block title %}Add a company{% endblock %}

{% block body %}
    <h1>Create a new company</h1>

    {{ include('company/_form.html.twig') }}

    <a href="{{ path('company_index') }}"><button class="btn">Back to the company list</button></a>
{% endblock %}