{% extends 'base.html.twig' %}

{% block title %}Edit Extra{% endblock %}

{% block body %}
    <h1>Edit Extra</h1>

    {{ include('extra/_form_edit.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('property_configuration') }}"><button style="margin-bottom: 5px" class="btn">Back to property configuration</button></a>

    {{ include('extra/_delete_form.html.twig') }}

{% endblock %}
