{% extends 'base.html.twig' %}

{% block title %}New Extra{% endblock %}

{% block body %}
    <h1>Create new Extra</h1>

    {{ include('extra/_form_edit.html.twig') }}

    <a href="{{ path('property_configuration') }}"><button class="btn">Back to property configuration</button></a>
{% endblock %}
