<form method="post" action="{{ path('breakdown_preferences_delete', {'id': breakdown_preference.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ breakdown_preference.id) }}">
    <button class="btn"><i class="material-icons">delete</i></button>
</form>
