{% extends 'base.html.twig' %}

{% block title %}Edit BreakdownPreferences{% endblock %}

{% block body %}
    <h1>Edit Breakdown Preference</h1>

    {{ include('breakdown_preferences/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('brand_preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to brand preferences</button></a>

    {{ include('breakdown_preferences/_delete_form.html.twig') }}
{% endblock %}
