{% extends 'base.html.twig' %}

{% block title %}New BreakdownPreferences{% endblock %}

{% block body %}
    <h1>Create new Breakdown Preference</h1>

    {{ include('breakdown_preferences/_form.html.twig') }}

    <a href="{{ path('brand_preferences') }}"><button class="btn">Back to brand preferences</button></a>
{% endblock %}
