{% extends 'base.html.twig' %}

{% block title %}Edit cancel reason{% endblock %}

{% block body %}
    <h1>Edit a cancel reason</h1>

    {{ include('cancel_reason/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('brand_preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to brand preferences</button></a>

    {{ include('cancel_reason/_delete_form.html.twig') }}

{% endblock %}