{% extends 'base.html.twig' %}

{% block title %}Add a cancel reason{% endblock %}

{% block body %}
    <h1>Create a new cancel reason</h1>

    {{ include('cancel_reason/_form.html.twig') }}

    <a href="{{ path('brand_preferences') }}"><button style="margin-bottom: 5px" class="btn">Back to brand preferences</button></a>
{% endblock %}