{% extends 'base.html.twig' %}

{% block title %}Brand preferences{% endblock %}

{% block body %}
    <h3>Update your brand preferences</h3>
    <h4>Age range</h4>
    <a href="{{ path('age_new') }}"><button class="btn">Create a new age range</button></a>
    <table class="table striped">
        <thead>
        <tr>
            <th>Label</th>
            <th>Min</th>
            <th>Max</th>
            <th>Code in the new request Form</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for age in ages %}
            <tr>
                <td>{{ age.label }}</td>
                <td>{{ age.min }}</td>
                <td>{{ age.max }}</td>
                <td>{{ age.formCode }}</td>
                <td style="float: right; margin-right: 50px"><a href="{{ path('age_edit', {'id': age.id}) }}"><button class="btn">edit</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No age ranges are set up</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Status</h4>
    <a href="{{ path('status_new') }}"><button class="btn">Create a new status</button></a>
    <table class="table striped">
        <thead>
        <tr>
            <th>Label</th>
            <th>Default</th>
            <th>Provider Name</th>
            <th>Optional Status</th>
            <th>Confirmed Status</th>
            <th>Cancel Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.label }}</td>
                <td>
                    {% if status.defaultSelection == true %}
                        Default status
                    {% endif %}
                </td>
                <td>{{ status.providerId }}</td>
                <td>
                    {% if status.optionalStatus == true %}
                        Yes
                    {% endif %}
                </td>
                <td>
                    {% if status.confirmedStatus == true %}
                        Yes
                    {% endif %}
                </td>
                <td>
                    {% if status.cancelType == true %}
                        Yes
                    {% endif %}
                </td>
                <td style="float: right; margin-right: 50px"><a href="{{ path('status_edit', {'id': status.id}) }}"><button class="btn">edit</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No status are set up</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Breakdown Set Up</h4>
    <a href="{{ path('breakdown_preferences_new') }}"><button class="btn">Create a new breakdown type</button></a>
    <table class="table striped">
        <thead>
        <tr>
            <th>Label</th>
            <th>Capacity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for breakdown in breakdowns %}
            <tr>
                <td>{{ breakdown.label }}</td>
                <td>{{ breakdown.capacity }}</td>
                <td style="float: right; margin-right: 50px"><a href="{{ path('breakdown_preferences_edit', {'id': breakdown.id}) }}"><button class="btn">edit</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No breakdown types are set up</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Cancel Reason</h4>
    <a href="{{ path('cancel_reason_new') }}"><button class="btn">Create a new cancel reason</button></a>
    <table class="table striped">
        <thead>
        <tr>
            <th>Label</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for cancel in cancels %}
            <tr>
                <td>{{ cancel.label }}</td>
                <td style="float: right; margin-right: 50px"><a href="{{ path('cancel_reason_edit', {'id': cancel.id}) }}"><button class="btn">edit</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No cancel reasons are set up</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
