{% form_theme offerForm 'form/form_theme_offer.html.twig' %}

{% if enquiry.offer is not null %}
    {{ form_start(offerForm, {'action': path('offer_edit', {'id': enquiry.offer.id}), 'method': 'POST'}) }}
{% else %}
    {{ form_start(offerForm, {'action': path('offer_new', {'id': enquiry.id}), 'method': 'POST'}) }}
{% endif %}
<div id="offer_rooms">
    <div class="col s12" style="margin-top: 15px; margin-bottom: 15px">
        <a class="btn modal-trigger" style="float: right" id="info-button" href="#modal-occupancy">Occupancy</a>
    </div>
    {% include 'enquiry/_occupancy_modal.html.twig' %}
    <div class="col s12">
    {{ include('offer/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
<div id="offer_extra">
    <div class="col s12">
    {{ include('extra/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
    {{ form_widget(offerForm._token) }}
{{ form_end(offerForm, {'render_rest': false}) }}