<h4>Rooms</h4>
<table class="table centered">
    <thead>
    <tr>
        <th>Room number</th>
        <th>Room name</th>
        <th>Persons</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Nights</th>
        <th>Rate per night</th>
        <th>Bed rate</th>
        <th>Total rate</th>
    </tr>
    </thead>
    {% if enquiry.offer is null %}
        <div>You can create a new offer</div>
    {% else %}
        {% set nights = 0 %}
        {% set total_persons = 0 %}
        {% set total_price = 0 %}
        {% set average_price = 0 %}
        {% for room in enquiry.offer.rooms %}
            <tr>
                <td>
                    {{ room.roomQuantity }}
                </td>
                <td>
                    {{ room.roomType.label }}
                </td>
                <td>
                    {{ room.personsInTheRoom }}
                    {% set total_persons = total_persons + room.personsInTheRoom %}
                </td>
                <td>
                    {% set check_in_date = room.checkInDate|date('Y-m-d') %}
                    {{ check_in_date }}
                </td>
                <td>
                    {% set check_out_date = room.checkOutDate|date('Y-m-d') %}
                    {{ check_out_date }}
                </td>
                <td>
                    {% set difference = date(check_out_date).diff(date(check_in_date)) %}
                    {% set nights = difference.days %}
                    {{ nights }}
                </td>
                <td>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                {% set room_price_night = 0 %}
                                {% for rate in room.rates %}
                                    {% set room_price_night = room_price_night + rate.price %}
                                    {% set average_price = room_price_night / nights %}
                                {% endfor %}
                                <p>Average: {{ enquiry.property.currency.symbol }}{{ average_price|number_format(2) }}</p>
                            </div>
                            <div class="collapsible-body">
                                <table>
                                    {% set room_price = 0 %}
                                    {% set room_price_night = 0 %}
                                    {% set bed_rate = 0 %}
                                    {% for rate in room.rates %}
                                        <tr>
                                            <td>{{ rate.date|date('Y-m-d') }}</td>
                                            <td>{{ rate.price }}{{ enquiry.property.currency.symbol }}</td>
                                            {% set room_price_night = room_price_night + rate.price %}
                                            {% set room_price = room_price_night * room.roomQuantity %}
                                            {% set bed_rate = room_price / nights / room.personsInTheRoom %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </li>
                    </ul>
                </td>
                <td>
                    {{ enquiry.property.currency.symbol }}{{ bed_rate|number_format(2) }}
                </td>
                <td>
                    {{ enquiry.property.currency.symbol }}{{ room_price }}
                    {% set total_price = total_price + room_price %}
                </td>
            </tr>
        {% endfor %}
    <tr>
        <th colspan="2"><h4>Total</h4></th>
        <th style="text-align: center"><h5>{{ total_persons }}</h5></th>
        <th colspan="5"></th>
        <th style="text-align: center"><h5>{{ enquiry.property.currency.symbol }}{{ total_price }}</h5></th>
    </tr>
    {% endif %}
</table>
<h4>Extras</h4>
<table class="table centered">
    {% if enquiry.offer is null %}
        <div>no offer yet</div>
    {% else %}
    <thead>
        <tr>
            <th colspan="2">Service</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Consumed days</th>
            <th>Quantity</th>
            <th colspan="2">Unit price</th>
            <th>Extra price</th>
        </tr>
    </thead>
    <tr>
        {% set total_extra = 0 %}
        {% set extra_amount = 0 %}
        {% set days = 0 %}
        {% for offerExtra in enquiry.offer.offerExtras %}
        <td colspan="2">
            {{ offerExtra.extra.label }}
        </td>
        <td>
            {{ offerExtra.startDate|date('d/m/Y') }}
            {% set start_date = offerExtra.startDate|date('Y-m-d') %}
        </td>
        <td>
            {{ offerExtra.endDate|date('d/m/Y') }}
            {% set end_date = offerExtra.endDate|date('Y-m-d') %}
        </td>
        <td>
            {% set difference = date(end_date).diff(date(start_date)) %}
            {% set days = difference.days + 1 %}
            {{ days }}
        </td>
        <td>
            {{ offerExtra.quantity }}
            {% set extra_amount = offerExtra.price * offerExtra.quantity * days %}
        </td>
        <td colspan="2">
            {{ enquiry.property.currency.symbol }}{{ offerExtra.price }}
        </td>
        <td>
            {{ enquiry.property.currency.symbol }}{{ extra_amount }}
            {% set total_extra = total_extra + extra_amount %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="8"><h4>Total</h4></th>
        <th style="text-align: center"><h5>{{ enquiry.property.currency.symbol }}{{ total_extra }}</h5></th>
    </tr>
    <tr>
        {% set total_offer = total_extra + total_price %}
        <th colspan="8"><h4>Total of the offer</h4></th>
        <th style="text-align: center"><h5>{{ enquiry.property.currency.symbol }}{{ total_offer }}</h5></th>
    </tr>
    {% endif %}
</table>