<form method="post" action="{{ path('mail_template_delete', {'id': mail_templates.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mail_templates.id) }}">
    <button class="btn"><i class="material-icons">delete</i></button>
</form>
